UNOFFICIAL_election_general_2019_framingham_summaries.xlsx
UNOFFICIAL_election_general_2019_framingham_raw.xlsx
UNOFFICIAL_election_general_2019_framingham_raw.pdf
GIT_IGNORE_FULL_COPY_election_general_2019_framingham_raw_official.xlsx
